@model Frota.Application.ViewModels.VeiculoModel

@{
    ViewData["Title"] = "Delete";
}

<div class="book-example panel panel-primary">
    <div class="panel-heading panel-head">Excluir Veículo</div>
    <div class="panel-body">
        <h3>Deseja realmente excluir esse Veículo?</h3>
        <h1>@ViewBag.ErrorMessage</h1>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Chassi)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Chassi)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NumeroPassageiro)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumeroPassageiro)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cor)
            </dd>
        </dl>
        <div class="form-group">
            <div class="col-md-4 text-right">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ID" />
                    <a asp-action="Index" class="btn btn-default">Voltar</a>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>
