@model Frota.Application.ViewModels.VeiculoModel

@{
    ViewData["Title"] = "Veículo";
}

<div class="book-example panel panel-primary">
    <div class="panel-heading panel-head">Veículo</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Chassi)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Chassi)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NumeroPassageiro)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumeroPassageiro)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cor)
            </dd>
        </dl>

        <div class="form-group">
            <div class="col-md-4 text-right">
                <a asp-action="Index" class="btn btn-danger">
                    <span class="glyphicon glyphicon-triangle-left"></span> Voltar</a>
                <a asp-action="SaveOrEdit" asp-route-id="@Model.ID" class="btn btn-success">
                    <span class="glyphicon glyphicon-floppy-open"></span> Editar</a>
            </div>
        </div>
    </div>
</div>
