@model Frota.Application.ViewModels.VeiculoModel
@{
    ViewBag.Title = "Adicionar ou Alterar Veículo";
}


<div class="book-example panel panel-primary">
    <div class="panel-heading panel-head">Adicionar / Editar Veículo</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
        <div class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Chassi, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-9">
                    @if (Model.ID == 0)
                    {

                        @Html.TextBoxFor(model => model.Chassi, new { @class = "form-control", maxlength = 17 })
                        @Html.ValidationMessageFor(model => model.Chassi, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.Chassi)
                        @Html.DisplayFor(model => model.Chassi, new { @class = "form-control" })
                    }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Tipo, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-9">
                    @if (Model.ID == 0)
                    {
                        @*@Html.EnumDropDownListFor(model => model.Tipo, "Selecione", new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.Tipo)
                        @Html.DisplayFor(model => model.Tipo, new { @class = "form-control" })
                    }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NumeroPassageiro, new { @class = "col-lg-2 control-label" })
                <div id="passageiros" class="col-lg-9">
                    @Html.DisplayFor(model => model.NumeroPassageiro, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Cor, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(model => model.Cor, new { @class = "form-control", maxlength = 50 })
                    @Html.ValidationMessageFor(model => model.Cor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
                    <button class="btn btn-success" id="btnSubmit" type="submit">
                        Salvar
                    </button>
                </div>
            </div>
        </div>
        }
    </div>
</div>




    <script>
        $(document).ready(function () {
            $('select').on('change', function () {
                //alert(this.value);
                //debugger;
                switch (this.value) {
                    case "1":
                        $("#passageiros").html("2");
                        break;
                    case "2":
                        $("#passageiros").html("42");
                        break;
                    default:
                        $("#passageiros").html("0");
                        break;
                }
            });
        });
    </script>

